body
{
    background-image:url('../imagenes/fondo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(46, 40, 40);
    text-align: center;
    font-family: "Arial";
    font-size: 25px;
    margin: 0;
    padding: 0;
}
#container
{
    width: 70%;
    padding: 0;
    text-align: left;
    border: 1px solid #ddd;
    margin: auto;
}
#cabezera
{
    background: rgb(113, 51, 170);
    box-shadow: 0px 2px 20px 0px rgba(0,0,0,0.5);
    color: rgba(255, 255, 255, 0.678);
    font-weight: bold;
    margin: 0;
    padding: 0.5em;
}

#cabezera #tagline
{
    padding: 0 0 0 1em;
    font-weight: normal;
    font-size: 0.8em;
}


#container h1
{
    text-align: center;
    font-size: 40px;
}
#cabezera #logo
{
    width: 50px;
    vertical-align: middle;
}
#hola
{
    font-weight: bold;
}
#post
{
    background: rgba(212, 206, 241, 0.637);
    padding: 1em;
}
#footer
{
  background: rgb(177, 177, 177);
  color: white;
  text-align: center;
}
#blah
{
    display: block;
    margin: 0px auto;
}